# Segmenting and Clustering Neighborhoods in Toronto-Part 2

In [35]:

import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [40]:
df=pd.read_csv('df.csv')
df.head()

   Unnamed: 0 PostalCode       Borough                            Neighborhood
0           0       M1B   Scarborough                           Malvern, Rouge
1           1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2           2       M1E   Scarborough        Guildwood, Morningside, West Hill
3           3       M1G   Scarborough                                   Woburn
4           4       M1H   Scarborough                                Cedarbrae

In [41]:
df=df.drop('Unnamed: 0',axis=1)

In [42]:
df.head()

  PostalCode       Borough                            Neighborhood
0       M1B   Scarborough                           Malvern, Rouge
1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2       M1E   Scarborough        Guildwood, Morningside, West Hill
3       M1G   Scarborough                                   Woburn
4       M1H   Scarborough                                Cedarbrae

In [43]:
df1.shape

(103, 3)

In [44]:

df1.columns = ['PostalCode','Latitude','Longitude']

cols = df1.columns.tolist()
cols
df1.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [46]:
df2=df.merge(df1,on='PostalCode',how='left')

In [47]:
df2.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",NaN,NaN
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",NaN,NaN
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",NaN,NaN
3,M1G,Scarborough,Woburn,NaN,NaN
4,M1H,Scarborough,Cedarbrae,NaN,NaN

In [50]:
pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
Requirement already satisfied: future in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (1.14.0)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from geocoder) (7.0)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.1)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
Note: you may need to restart the kernel to use updated packages.

In [51]:
import geocoder
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.709020000000066, -79.36348999999996]

In [52]:
postal_codes = df['PostalCode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

In [53]:

df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81139,-79.19662
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78574,-79.15875
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17470
3,M1G,Scarborough,Woburn,43.76812,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76944,-79.23892

In [54]:
df.to_csv('df.csv')